body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #111;
    color: white;
    text-align: center;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #00bcd4;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}


/* NAVBAR */
nav {
    background: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 20px;
}

.nav-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #00bcd4;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    color: #00bcd4;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: white;
}

.menu-icon {
    display: none;
    font-size: 25px;
    cursor: pointer;
}


/* SECCIONES */
header {
    padding: 60px 20px;
}

section {
    padding: 50px 20px;
}

.project {
    background: #1f1f1f;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 35px;
    margin-top: 20px;
}

.icons a {
    color: #00bcd4;
    transition: 0.3s;
}

.icons a:hover {
    color: white;
    transform: scale(1.2);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background: #1f1f1f;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        padding: 20px;
    }

    nav ul.show {
        display: flex;
    }

    .menu-icon {
        display: block;
    }
}

footer {
    background: #1f1f1f;
    padding: 20px;
}
